html {
    font-size: 16px;
    font-family: Candara, sans-serif;
    background-color: #e3d5ca;
}

body {
    font-size: 1rem;
}

h1 {
    font-size: 2.5rem;
    color: #370617;
}

h2 {
    font-size: 1.8rem;
    color: #6a040f;
}

h1,
h2,
#introduction {
    text-align: center;
}

#table {
    justify-content: center;
    width: 100%;
    display: flex;
}

p {
    color: rgb(0, 0, 0);
    font-size: 1.2rem;
}

img {
    margin: 10px auto;
    width: 100px;
    height: 150px;
}





.cover {
    border: 3px solid #43291f;
    border-radius: 10px;
}

#container {
    background-color: #ccd5ae;
    width: 40%;
    height: 220px;
    margin: 0 auto;
    border: 5px solid #a3b18a;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#container div {
    width: 200px;
    height: 200px;
}

table {
    text-align: center;
}

#form {
    font-weight: bold;
    font-size: 1.2rem;
}

button {
    background-color: #6f1d1b;
    color: white;
    border-radius: 5px;
}

button:hover {
    background-color: #fefae0;
    color: #432818;
}

@media (max-width: 900px) {
    h1 {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1.2rem;
    }

    p {
        font-size: 1rem;
    }


    #container {
        width: 100%;
        height: auto;
        border: 2px solid #a3b18a;
    }

    img {
        margin: 4px auto;
        width: 50%;
        height: 60%;
    }
}
